<div id="users">
    <% @users.each do |user| %>
      <div class="user">
        <img class="user-img" src="<%= user.photo %>" alt="images loading from internet">
        <div class="name section">
            <h3 class="user-name"><%= link_to user.name, user_path(user) %></h3>
            <div class="user-posts-count"><h6>Number of posts: <%= user.post_counter %></h6></div>
        </div>
      </div>
    <% end %>
</div>